  {{ define "main" }}
<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-left">
      <div class="associado-header">
        <h2>{{ .Params.informes_heading }}</h2>
        <p>{{ .Params.informes_text }}</p>
      </div>
      <!--<iframe src="pdfs/boletins/boletim-teste.pdf" width="600" height="780" style="border: none;"></iframe>-->
    </div>
    {{ range .Params.boletins_lista }}
    <!--<div class="col-md-6">-->
    <div class="row justify-content-center">
      <h5>{{ .blt_title }}</h5>
    </div>
    <div class="row justify-content-center">
      <iframe class="publicacoes-pdf" src="{{ .blt_link | absURL }}"></iframe>
    </div>
    <!--</div>-->
    {{ end }}
    <div class="row justify-content-left">


      <div class="associado-header">
        
        <h3><center> <a href="https://biometria.ufla.br/index.php/BBJ" target="_blank"> Brazilian Journal of Biometrics </a> </center></h3>
        
        <!-- <h2>{{ .Params.editores_heading }}</h2> -->
        <ul>
          {{ range .Params.editores_list }}
          <li>{{ . }}</li>
          {{ end }}
        <ul>
      </div>
      <div class="associado-header">
       <!-- <h2> Brazilian Journal of Biometrics </h2> <br> -->
        <h3>{{ .Params.equipe_editorial_title }}</h3>
        <p><b>{{ .Params.editor_chefe_title }}</b></p>
        <ul>
          <li>{{ .Params.editor_chefe}}</li>
        </ul>
        <p><b>{{ .Params.co_editores_title }}</b></p>
        <ul>
          {{ range .Params.co_editores }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
        <p><b>{{ .Params.editor_hon_title }}</b></p>
        <ul>
          <li>{{ .Params.editor_hon }}</li>
        </ul>
        <p><b>{{ .Params.editor_asc_title }}</b></p>
        <ul>
          {{ range .Params.editores_asc }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
  </div>
  </div>
</section> <br>

    
</section>

<!--{{ partial "call-to-action.html" . }}-->

{{ end }}