  {{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-left">
        <img class="event-image" src="{{ .Params.img_logo | absURL }}" alt = "JP-RBras">
        <div class="associado-header">
          <p>{{ .Params.parag_inicial }}</p><br>
          <p>{{ .Params.site_evento }} <a href="{{ .Params.link_site | absURL }}" target="_blank">{{ .Params.link_site }}</a></p>
          <p>{{ .Params.parag_segundo }}</p><br>
          <p>{{ .Params.grupo_heading }}</p>
          <ul>
            {{range .Params.grupo }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
          <p>{{ .Params.conc }}</p>
        </div>
    </div>
  </div>
</section>

<!--{{ partial "call-to-action.html" . }}-->

{{ end }}